<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.ofemperor.WCPrediction.dao.QpreDAO">
    <select id="getGameData" resultType="hashMap">
        select
            MatchNumber, RoundNumber, games.Date, Location, HomeTeam, AwayTeam, games.Group, Result
        from
            games;
    </select>
    <select id="getPredictionData" resultType="hashMap">
        select
            *
        from
            prediction;
    </select>
    <select id="getCountryData" resultType="hashMap">
        select
            *
        from
            country;
    </select>
</mapper>